<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bullsandcows">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH_SCAN" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADVERTISE" />
    <uses-permission android:name="android.permission.BLUETOOTH_CONNECT" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.NEARBY_WIFI_DEVICES" />

    <application
        android:name=".GameApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BullsAndCows">

        <!-- Заставка -->
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.BullsAndCows"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Главное меню -->
        <activity android:name=".MainActivity" />

        <!-- Активности для выбора режима -->
        <activity android:name=".ConnectionTypeActivity" />
        <activity android:name=".WordLengthActivity" />

        <!-- Основная игра -->
        <activity android:name=".GameActivity" />

        <!-- Bluetooth активности -->
        <activity android:name=".BluetoothLobbyActivity" />
        <activity android:name=".WordInputActivity" />

        <!-- Статистика и информация -->
        <activity android:name=".StatisticsActivity" />
        <activity android:name=".AboutActivity" />

    </application>

</manifest>